.img-container {
	text-align: center;
	display: block;
}

.Header {
	padding-top: 50px;
	text-align: center;
}

.BodyParagraph {
	padding-left: 300px;
	padding-right: 300px;
}

.ProjectTitle {
	padding-left: 300px;
	font-size: 24px;
}

img.resize {
	width: 250px;
	height: 80px;
}

body {
	background-color: #CCCCCC;
}