.img-container {
	text-align: center;
	display: block;
}

.Header {
	padding-top: 50px;
	text-align: center;
}

.BodyParagraph {
	padding-left: 300px;
	padding-right: 300px;
}

.ProjectTitle {
	padding-left: 300px;
	font-size: 24px;
}

.link {
	font-size:18px;
	text-align:center;
}

img.resize {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 20px;
}

img.resize2 {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-bottom: 24px;
}

img.resize3 {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  padding-bottom: 8px;
}

body {
	background-color: #CCCCCC;
	padding-bottom: 50px;
}
